* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border: none;
    user-select: none;
}

/* Header */

.container {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    margin-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}


.links ul {
    display: flex;
    list-style: none;
    gap: 48px;
    font-size: 14px;
    font-weight: 400;
}

.login {
    gap: 60px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;

}

.login a:nth-child(2) {
    padding: 8px 16px;
    border-radius: 10px;
}

.login a:nth-child(2):hover {
    color: #4318FF;
    background-color: #E9E3FF;
    transition: all 0.2s linear;
    font-weight: 700;
}

.heroes {
    display: flex;
    gap: 20px;
}

.hero_left {
    margin: auto 0;
    padding-right: 450px;

    h1 {
        font-size: 60px;
        font-weight: 800;
        color: #1B2559;
    }

    p {
        color: #68769F;
        font-size: 16px;
        font-weight: 500;
    }

    img {
        width: 400px;
        gap: 10px;
    }
}

.hero_right {
    padding-top: 50px;
}

.hero_right img {
    width: 550px;
    height: 750px;
}

.btns {
    display: flex;
    padding-top: 24px;
    gap: 20px;

    button {
        padding: 16px 28px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
    }

    .btn1 {
        background-color: rgba(67, 24, 255, 1);
        color: rgba(255, 255, 255, 1);
    }

    .btn2 {
        background-color: transparent;
        color: rgba(27, 37, 89, 1);
    }

}

/* Main */

/* Section1 */

.section1 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.work_title {
    margin-top: 120px;
    text-align: center;

    h1 {
        font-size: 36px;
        font-weight: 800;
        color: rgba(27, 37, 89, 1);
    }

    p {
        color: rgba(104, 118, 159, 1);
        font-size: 16px;
        font-weight: 500;
    }
}

.create_account {
    display: flex;
    margin-top: 60px;
    margin-bottom: 120px;
    gap: 40px;


    i {
        font-size: 32px;
        padding: 20px 0;
    }
}

.move {
    display: flex;
    gap: 18px;
    padding-right: 40px 0;

    h4 {
        font-size: 16px;
        font-weight: 700;
        color: rgba(27, 37, 89, 1);
    }

    p {
        font-size: 16px;
        font-weight: 500;
        color: rgba(104, 118, 159, 1);
    }
}

.number {
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    border: 1px solid rgba(67, 24, 255, 1);
    border-radius: 100%;

    p {
        color: rgba(67, 24, 255, 1);
        font-size: 16px;
        font-weight: 700;
    }
}

.number:hover {
    background-color: rgba(67, 24, 255, 1);
    border: none;
    transition: 0.4s linear;

    p {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 700;
    }
}

/* Section 2 */

.section2 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.share {
    display: flex;
    margin: 120px 150px;
    justify-content: space-between;
    text-align: center;
    color: rgba(27, 37, 89, 1);
    ;
}

.chapter {
    margin: 0 8px;
    border-radius: 16px;

    .icon_share {
        padding: 10px 0;

        i {
            display: flex;
            margin: 0 auto;
            align-items: center;
            padding: 20px 33px;
            justify-content: center;
            font-size: 24px;
            background-color: rgba(67, 24, 255, 1);
            border-radius: 16px;
            color: white;
        }
    }

    .text_share {
        padding: 15px 50px;

        p {
            line-height: 30px;
            color: rgba(104, 118, 159, 1);
        }

        h2 {
            line-height: 32px;
            color: rgba(27, 37, 89, 1);
        }
    }
}

.chapter:hover {
    box-shadow: 0px 32px 64px -12px rgba(85, 105, 135, 0.13);
    transition: all 0.3s linear;
}

/* section 3 */

.section3 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.card_left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 600px;
}

.card_title {

    h1 {
        font-size: 30px;
        font-weight: 800;
        color: rgba(27, 37, 89, 1);
    }

    p {
        font-size: 16px;
        font-weight: 500;
        color: rgba(104, 118, 159, 1);
    }
}

.text_card {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;

    p {
        color: rgba(104, 118, 159, 1);
    }
}

.card {
    width: 230px;

    h1 {
        font-size: 36px;
        font-weight: 800;
        color: rgba(27, 37, 89, 1);
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
        color: rgba(27, 37, 89, 1);
    }

    p {
        font-size: 16px;
        font-weight: 500;
    }
}

.image_card {
    img {
        width: 515px;
        height: 505px;
    }
}

/* Section 4 */

.section4 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.test_title {

    text-align: center;
    padding: 0 450px;
    margin-bottom: 74px;

    h2 {
        line-height: 44px;
        font-size: 36px;
        font-weight: 800;
        color: rgba(27, 37, 89, 1);
    }

    p {
        line-height: 30px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(104, 118, 159, 1);
    }
}

.test_review {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 120px;
    padding: 32px;
    gap: 36px;
}

.review1 {
    margin-left: 140px;
    padding: 40px;
    background-color: rgba(246, 248, 253, 1);
    border-radius: 16px;

    h5 {
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        color: rgba(27, 37, 89, 1);
    }
}

.review2 {
    margin-right: 140px;
    padding: 40px;
    background-color: rgba(246, 248, 253, 1);
    border-radius: 16px;

    h5 {
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        color: rgba(27, 37, 89, 1);
    }

}

.person {
    padding-top: 37px;
    color: rgba(27, 37, 89, 1);

    img {
        width: 30px;
        height: 32px;
        border-radius: 100%;
    }

    h4 {
        font-size: 18px;
        font-weight: 800;
    }

    p {
        font-size: 12px;
        font-weight: 600;
        color: rgba(104, 118, 159, 1);
    }
}

/* section 5 */
.section5 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.CTA {
    display: flex;
    justify-content: space-between;
}

.text {
    h1 {
        font-size: 36px;
        font-weight: 800;
    }

    h1 span {
        display: flex;
        font-size: 36px;
        font-weight: 600;
    }
}

.btns_footer {
    display: flex;
    gap: 10px;
    align-items: center;

    .btn_footer2 {
        padding: 16px 28px;
        text-align: center;
        border-radius: 12px;
        background-color: rgba(67, 24, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 700;
    }

    .btn_footer1 {
        padding: 16px 28px;
        border: 1px solid;
        text-align: center;
        border-radius: 12px;
        background-color: transparent;
        color: rgba(67, 24, 255, 1);
        font-size: 14px;
        font-weight: 700;
    }

}

/* Footer */

footer {
    margin-top: 120px;
    margin-bottom: 80px;
}

.logo_ft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links_ft {
    padding-top: 32px;
    font-size: 14px;
    font-weight: 500;

    ul {
        display: flex;
        justify-content: center;
        gap: 48px;
        list-style: none;
    }

    a {
        color: rgba(104, 118, 159, 1);
    }
}

.icons {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    a {
        color: rgba(104, 118, 159, 1);
    }

    font-size: 24px;
}

.author {
    display: flex;
    padding-top: 32px;
    color: rgba(104, 118, 159, 1);
    text-align: center;
    justify-content: center;
}